/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 17, 2016, 10:07:06 PM
    Author     : Swedge
*/

.homebackdrop{

    height: auto;
    padding: 0;
}
.homebackdrop img { width: 100% !important; }
.noborder{border: 0 !important; }
.nofloat{float: none !important;}
.nomargin{ margin: 0 !important;}
.marginauto{    margin: auto !important; }
.margintop5{    margin-top: 5px !important; }
.margintop0 {margin-top: 0px !important;}
.margintop10 {margin-top: 10px !important;}
.margintop15 {margin-top: 15px !important;}
.margintop20 {margin-top: 20px !important;}
.margintop25 { margin-top: 25px !important; }
.margintop40 {margin-top: 40px !important;}
.marginbottom5 {margin-bottom: 5px !important;}
.marginbottom10 {margin-bottom: 10px !important;}
.marginbottom15 {margin-bottom: 15px !important;}
.marginbottom20 {margin-bottom: 20px !important;}
.marginbottom50 {margin-bottom: 50px !important;}
.marginleft5 {margin-left: 5px !important;}
.marginleftneg20 {margin-left: -20px !important;}

.marginleft10 {margin-left: 10px !important;}
.marginleft20 {margin-left: 20px !important;}
.marginleft25 {margin-left: 25px !important;}
.marginright15 {margin-right: 15px !important;}
.marginleft15 {margin-left: 15px !important; }
.marginleft19 {margin-left: 19px !important;}
.marginright10 {margin-right: 10px !important;}
.marginleft20px {margin-left: 20px !important;}
.marginright20 {margin-right: 20px !important;}
.margintop5negative {margin-top: -5px !important;}

.nopadding {padding: 0 !important;}
.padding5{ padding: 5px !important;}
.padding10{ padding: 10px !important;}
.padding15{padding: 15px !important;}
.padding30{ padding: 30px !important;}
.paddingtop10{padding-top: 10px !important;}
.paddingtop30{padding-top: 30px !important;}
.paddingtop20{padding-top: 20px !important;}
.paddingbottom10{padding-bottom: 10px !important;}
.paddingbottom20{padding-bottom: 20px !important;}
.paddingbottom30{padding-bottom: 30px !important;}
.paddingleft10{ padding-left: 10px !important;}
.paddingleft0 { padding-left: 0px !important; }
.paddingright0 { padding-right: 0px !important; }
.paddingleft0 { padding-left: 0px !important; }

.width10{width: 10px !important;}
.width70{width: 70px !important;}
.fullwidth{width: 100% !important;}
.width30{width: 30% !important;}



.hidden {display: none !important;}
.block{display: block !important;}
.inlineblock{display: inline-block;}
.bold {font-weight: bold !important;}
.uppercase {text-transform: uppercase; }
.lowercase {text-transform: lowercase; }
.borderallccc{ border: 1px solid #ccc; }
.borderbottom{ border-bottom: 1px solid #ccc; }

.bgeee {background-color: #eeeeee; }
.bgwhite {background-color: #ffffff; }
.bg-sidebar { background-color: #3D7359; }
.bg-header{ background-color: #2F9E69; }
.primary-color {color: #3c8dbc; }
.blockquote { font-weight: bold; line-height: 1.4; }
.modal-title { color: #2F9E69; font-weight: bold; } /*color: #3c8dbc*/
.form-control.medium { width: 60% !important; }
.deleting{background: #ee4545 !important; border-color: #ee4545 !important;}
.error-text{ color: #F00; }

.updating{background: #008d4c !important; }
.blacktext{ color: #000 !important; }

.box-title {display: block !important;}
.header-stee-blue {background: lightsteelblue;}

.text-conspicuous{font-size: 30px !important;}
/*.innersidebarli{margin-bottom: 5px; }*/

@media (min-width: 768px){
    .modal-dialog{ width: 400px !important;}
    .modal-dialog.delete-modal{ width: 400px !important;}
    
    .modal-dialog.form-modal{ width: 600px !important;}
}

.productSpan{
    width:100% !important;
    display:block !important;
    height:45px !important;
    overflow: auto;
}

.productSpan span {
   display: inline;    
}

.adding{background: #dff0d8 !important; border-color: #dff0d8 !important;}

.anti-rcswitchwer-buttons{
    padding: 5px;
}



/*Bootstrap form-control class override*/
.form-control{
    color: #000 !important;
    border: 1px solid #2F9E69;
}

/* form-group class override */
/*.form-group.has-success label {
    color: #000 !important;
}*/

/*Bootstrap panel class override*/
.panel-default{
    margin: 0 auto;
    margin-bottom: 100px;
    border: 1px #2F9E69 solid !important;
}

.panel-heading{
    color: #fff !important;
    background-color: #2F9E69 !important;
    font-size: 18px !important;
}

/*help-block class override 
.help-block{
    display: none !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}*/

/* form-group override */
/*.form-group{
    margin-bottom: 0px !important;
}*/

/**
 Css for process step
**/


.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px !important;
}

#checkOutToPay {
    background-color: #FF8800;
    color: #000000;
}

#agentListPanelBody {
    height: 350px;
    overflow-y: auto;
}

.btn-orange {
    background-color: #FF8800;
    color: #000000;
}



span.lodgementTitleSpan{
    font-weight: bold;
}

.datepicker{
    text-align: center;
}




/********************* CENTERED LAYOUT *******************/
/*.skin-green.centered-layout.sidebar-mini.wysihtml5-supported .wrapper {
    background: #E6E2C9 !important;
}*/

.centered-layout .wrapper {
    background: #E6E2C9 !important;
}

.centered-layout .content {
    background: none !important;
}

/********************* ADMINLTE OVERRIDES *******************/
.small-box h3{
    font-size: 30px !important;
}
.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: 380px !important;
}

.cart-td{
    min-width: 50px;
}

body .modal-admin {
    
    /* new custom width */
    width: 750px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -375px;
    
}

body .modal .modal-lg {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px !important;
}

@media screen and (min-width: 768px) {
    body .modal .modal-lg {
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px !important;
    }
}

.table.table-profile>thead>tr>th {
    border-bottom: none !important;
}

.table.table-profile>thead>tr>th h4 {
    font-size: 20px;
    margin-top: 0
}

.table.table-profile>thead>tr>th h4 small {
    display: block;
    font-size: 12px;
    font-weight: 400;
    margin-top: 5px
}

.table.table-profile>tbody>tr>td,
.table.table-profile>thead>tr>th {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #242a30;
}

.table.table-profile>tbody>tr>td.field {
    width: 120px;
    text-align: right;
    font-weight: 600;
    color: #777
}

.table.table-profile>tbody>tr.highlight>td {
    border-top: 1px solid #e2e7eb;
    border-bottom: 1px solid #e2e7eb
}

.table.table-profile>tbody>tr.divider>td {
    padding: 0!important;
    height: 10px;
}

@media print
{    
    .no-print-area, .no-print-area *
    {
        display: none !important;
    }
}



.inner-sidebar-item:hover, .inner-sidebar-item.active{
    background: #3c8dbc;
    color: #fff;
}

.inner-sidebar-item:hover a, .inner-sidebar-item.active a{
    color: #fff;
}

.inner-sidebar-item a {
    display: block;
    font-weight: bold;
}

.main-header>.navbar {
    margin-left: 0px !important;
    padding: 10px 20px;
    background: #2F9E69 !important;
}

.logo-text {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    float:left;
    margin: 20px 10px;
}

.logo-text:hover {
    color: #fff;
}

.logo-icon img {
    width: 80px;
    height: 83px;
}

.logo-pull-up img {
    margin-top: -40px;
}

.logo-anchor {
    /*margin-left: 20px;*/
}

.sub-logo-text {
    color: #D6AB4F;
    font-size: 14px;
    font-weight: bold;
}

.sub-logo-text:hover {
    color: #D6AB4F;
}

.main-sidebar, .left-side {
    padding-top: 120px !important;
    background: #3D7359 !important;
}

.wrapper {
    background: #3D7359 !important;
}

.content-wrapper, .right-side {
    background: #E6E2C9 !important;
    padding: 15px;
    padding-top: 25px;
}

.content {
    background: #FEFEFE !important;
}

li.user-header {
    height: auto !important;
}

.dropdown.user.user-menu a > img {
    width: 32px;
    height: 32px;
}

/*.skin-green.centered-layout.sidebar-mini.wysihtml5-supported .wrapper {
    background: #E6E2C9 !important;
}*/

.centered-layout .wrapper {
    background: #E6E2C9 !important;
}

.centered-layout .content {
    background: none !important;
}


/* Login page */

.loginform-header {
  background-color: #2F9E69;
}

.login-logo{
    margin-top: -40px;
}


.loginform{
    padding: 0px 50px 60px;
}

.push-down {
    padding-top: 120px;
}

.btn-mas{ 
    background-color: #2F9E69;
    color: #fff !important;
    border: none;
}

.btn-mas:link,
.btn-mas:hover,
.btn-mas:active{
    background-color: #008d4c !important;
    border: 1px #2F9E69 solid !important;
    
    
}

/* User registration form */

.x-create-padding{ 
    padding: 0 0 70px 30px;
}

.x-form-padding{
    padding: 0px 80px 0 50px;
}

h1>a{
    color: #2F9E69;
}

div h1>a:active{
    color: #2F9E69;
}

h1>a:hover{ color: #008d4c}
h1>a>.btn { color: #fff }

/* Users view */
section.content{
    padding: 30px 50px 100px 50px;
}
.content-header > h1 {
    color: #2F9E69;
    margin-bottom: 20px !important;
}

ul.pagination{
    padding-top: 20px;
}

ul.pagination>.active>a{
    background-color: #2F9E69;
}
ul.pagination>.active>a:link,
ul.pagination>.active>a:active,
ul.pagination>.active>a:hover{
    background-color: #2F9E69;
    border: none;
}

/* Glyphicon style */

i.glyphicon.glyphicon-pencil{
    color: #2F9E69 !important;
}

i.glyphicon.glyphicon-trash{
    color: red !important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #3D7359;
}

legend {
    display: block;
    width: 99%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #3D7359;
}

.btn-success {
   background-color: #2F9E69 !important;
}


.loading-modal .modal-content{
    background: transparent !important;
}

.loading-modal .modal-header {
    border-bottom: 0px !important;
}

.loading-modal .gif-wrapper, .loading-gif-wrapper {
    background: #ffffff;
    padding: 20px;
}

.sidebar-menu .treeview-menu{
    padding-left: 0px !important;
}

.treeview-menu li.active {
    background-color: #00363a  !important;/* #006f3e #003300 #2C3B41*/
    border-left: 2px solid #00A65A !important;
}

.treeview-menu li.active2 {
    background-color:  #2f9e69 !important; /*#4c8c4a #48B782*/
}

.active2 a {
    color: #ffffff !important;
}

.indicator-text{
    background-color: #E6E2C9;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    padding: 12px 5px;
}

.indicator-value{
    color: #FFFFFF;
    background: #3D7359;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 2px;
    /*margin-top: 20px;*/
}